.caracteristicas{
  padding-top:80px;
h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 15px;
  text-align: center;
}
.negrita {
  font-weight: bold;
  font-size: 1.25rem;
}
p {
  font-style: italic;
  font-size: 1rem;
}
}

@media (min-width: 768px) {
  .caracteristicas{
    padding-top: 80px;
  }
}